.hidden {
  display: none;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

/* reset */
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

main {
  flex-grow: 1;
}
input {
  font-family: inherit;
}
/* ukryty nagłówek section one */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */ /* MOBILE */

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header MOBILE */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
}
.accent-logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.heroicons-solid-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.icon-heroicons-solid {
  display: block;
  fill: #2f2f37;
}
.nov-list,
.address {
  display: none;
}
/* TABLET */

@media screen and (min-width: 768px) {
  .heroicons-solid-btn {
    display: none;
  }
  .novigation {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nov-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .address {
    font-style: normal;
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    color: #434455;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
  }
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .address {
    margin-left: auto;
  }
  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: auto;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-men-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
  border: 1px;
  padding: 0;
}
.modal-close {
  fill: #2e2f42;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobail-menu-address {
  margin-bottom: 48px;
}
.mobail-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobail-contacts-link {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-icons-social {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.mobile-item-social {
  width: 40px;
  height: 40px;
}
.mobile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobail-contacts-link:hover,
.mobile-nav-link:focus,
.mobile-contacts-link:focus,
.mobile-nav-link.current {
  color: #404bbf;
}

/* <!-- hero image  MOBILE--> */

.hero {
  padding-top: 72px;
  padding-bottom: 72px;
  background: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office/people-office-mob@2x.jpg);
  }
}

.title-hero {
  max-width: 216px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  margin-top: 72px;
  margin-bottom: 72px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* TABLET hero image*/

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office/people-office-tab.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office/people-office-tab@2x.jpg);
  }
  .title-hero {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
  }
  .btn {
    margin-top: 36px;
    margin-bottom: 112px;
  }
}

/* DESKTOP  hero image */

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office/people-office.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office/people-office@2x.jpg);
  }
  .btn {
    margin-top: 48px;
    margin-bottom: 188px;
  }
}

/* <!-- section one  MOBILE--> */
.one-icon-thumb {
  display: none;
}
.one {
  padding: 96px 0;
}
.section-one {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.list-section-one {
  max-width: 288px;
}
.title-section-one {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: #2e2f42;
  margin-bottom: 8px;
}

.text-section-one {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

/* TABLET section one*/

@media screen and (min-width: 768px) {
  .section-one {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .list-section-one {
    max-width: 356px;
  }
  .title-section-one {
    text-align: start;
  }
}

/* DESKTOP section one */

@media screen and (min-width: 1158px) {
  .one {
    padding: 120px 0;
  }
  .one-icon-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .section-one {
    flex-direction: row;
    gap: 24px;
  }
  .list-section-one {
    max-width: 264px;
  }
  .title-section-one {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
/* team MOBILE*/
.team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}
.item-team {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  max-width: 264px;
}
.subject-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.text-team {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 8px 0;
  text-align: center;
  font-size: 16px;
  color: #434455;
  margin: 8px 0;
}
.team-icons {
  padding: 32px 0;
}
.team-icons-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-item-social {
  width: 40px;
  height: 40px;
}
.team-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}
.social-team {
  fill: #f4f4fd;
}

/* TABLET team*/

@media screen and (min-width: 768px) {
  .list-team {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

/* DESKTOP team */

@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .list-team {
    gap: 24px;
  }

  .item-team {
    width: calc((100% - 72px) / 4);
  }
}

/* MOBILE portfolio */

.portfolio-overflow {
  display: none;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.title-portfolio {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.list-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  max-width: 288px;
}
.item-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-main {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  background: #fff;
}
.subject-portfolio {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-portfolio {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* TABLET portfolio*/

@media screen and (min-width: 768px) {
  .list-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 736px;
  }
  .item-portfolio {
    width: calc((100% - 24px) / 2);
  }
}

/* DESKTOP portfolio */

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .list-portfolio {
    row-gap: 48px;
    max-width: 1128px;
  }
  .item-portfolio {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-project-cart {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 300px;
    margin: 0 auto;
  }

  .portfolio-project-cart > .portfolio-overflow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
  }

  .portfolio-overflow {
    display: unset;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item-portfolio:hover .portfolio-overflow {
    transform: translateY(0);
  }
}

/* footer MOBILE */

.footer-logo {
  padding-top: 96px;
  padding-bottom: 96px;
  background: #2e2f42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

.footer-logo-link {
  display: inline-block;
  margin-left: 86px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.accent-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  width: 288px;
  margin-bottom: 72px;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 72px;
}

.footer-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  margin-left: 112px;
}

.footer-icons-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-item-social {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-social {
  fill: #f4f4fd;
}

/* form */

input::placeholder {
  color: #fff;
}
.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  margin-left: 122px;
}

.footer-form-maile {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  padding: 8px 16px;
  background-color: #2e2f42;
  margin-bottom: 16px;
}

.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 77px;
  margin-right: 78px;
}

.footer-form-icon {
  margin-left: 16px;
  fill: #fff;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #31d0aa;
}

/* TABLET footer*/
@media screen and (min-width: 768px) {
  .footer-logo {
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 108px;
    padding-right: 164px;
  }
  .footer-tablet {
    display: flex;
    align-items: baseline;
    row-gap: 72px;
  }
  .footer-logo-text {
    display: flex;
    flex-direction: column;
  }
  .footer-logo-link {
    margin-left: 0;
  }
  .footer-icon {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .footer-social-media {
    margin-left: 0;
  }
  .footer-tablet {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-form-text {
    margin-left: 0;
  }
  .footer-text {
    margin-bottom: 0;
  }

  .footer-form-button {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-form-maile {
    margin-bottom: 0;
  }
  .footer-form-buttom {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

/* DESKTOP footer */

@media screen and (min-width: 1158px) {
  .footer-logo {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 156px;
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    align-items: baseline;
  }

  .footer-form-buttom {
    display: flex;
    flex-direction: row;
    gap: 120px;
  }
  .footer-form {
    margin-left: auto;
  }
  .footer-tablet {
  }
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.backdrop:not(.is-open).modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  border: none;
}

.button:hover > .modal-close {
  fill: #ffffff;
}
.button:focus > .modal-close {
  fill: #ffffff;
}

.modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal-hero {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.icon-list {
  position: relative;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.form-commit {
  margin-bottom: 16px;
}
.commit-text {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.commit-text:hover,
.commit-text:focus {
  border-color: #4d5ae5;
}
.form-checkbox {
  margin-bottom: 24px;
}
.checkbox-privacy {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-span {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  display: inline-flex;
  align-items: center;
  fill: transparent;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.vector {
  fill: #f4f4fd;
}
.checkbox-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
input:checked + label > span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.btn-form {
  display: block;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
